#parse("/velocity/layout.vm")
#@mainLayout()
<form id="bankForm" method="post" resetOnSuccess=false>
  #if($bankflowsIdCardQueryFailed)
    <p class="bad notification">$msg.get("DTPQUERY_IDCARD_FAILED")</p>
  #end
  #if($errorResponse)
    <p class="bad notification">$errorResponse</p>
  #end
  <h1>$msg.get("BQS_IVS")</h1>
  <div class="col-lg-6">
    <label>$msg.get("IVS_NAME")</label>
    <input type="text" name="name" placeholder="$msg.get("IVS_NAME")" value="$!ivsQueryParams.name"
           required>
  </div>
  <div class="col-lg-6">
    <label>$msg.get("IVS_IDNO")</label>
    <input type="text" name="certNo" placeholder="$msg.get("IVS_IDNO")"
           value="$!ivsQueryParams.certNo"
           required>
  </div>
  <div class="col-lg-6">
    <label>$msg.get("IVS_MOBILE")</label>
    <input type="tel" name="mobile" placeholder="$msg.get("IVS_MOBILE")"
           value="$!ivsQueryParams.mobile" required>
  </div>
  <div class="col-lg-6">
    <label>$msg.get("IVS_CARDNO")</label>
    <input type="text" name="bankCardNo" placeholder="$msg.get("IVS_CARDNO")"
           value="$!ivsQueryParams.bankCardNo">
  </div>
  <div class="col-lg-6">
    <label>$msg.get("IVS_EMAIL")</label>
    <input type="email" name="email" placeholder="$msg.get("IVS_EMAIL")"
           value="$!ivsQueryParams.email">
  </div>
  #if($loginRedirect)
    <input type="hidden" name="loginRedirect" value="$loginRedirect">
  #end
  <input type="submit" value="$msg.get("DTP_BUTTON_QUEEY")">
</form>
  #if( $ivsResult )
  <pre>
    <code>$ivsResult</code>
  </pre>
  #end

#end
